.Title {
  margin-top: 0;
  vertical-align: center;
  text-align: center;
  font-size: 30vmin;
  color: #f0f0f0;
  /*background-color: #555555;*/
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/